---
import { type Project } from "../interfaces/projects"
import DemoButton from "./common/demoButton.astro"
import GithubButton from "./common/githubButton.astro"
interface Props {
  projects: Project[],
}

const {projects} = Astro.props
---

<ul class="list-disc">
      {
        projects.map((project) => (
          <li class="py-3">
            <div class="flex-col">
              <div>
                <span class="font-bold block underline py-2">
                  {project.title}:
                </span>
                {project.description}
              </div>
              <div>
                
              </div>
              {
                project.link && (
                  <GithubButton url={project.link}/>
                )
              }

              {
                project.demoLive && (
                  <DemoButton url={project.demoLive}/>
                )
              }
              
            </div>
          </li>
        ))
      }
</ul>